body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mt {margin-top: 15px;}



.wp{width: 500px;}
.hp{height: 400px;}
.mp{margin-left: 1020px;}
.mmp{margin-top: 50px;}




.wa{width: 300px;}
.ha{height: 60px;}
.ma{margin-left: 1040px;}
.mma{margin-top: -150px;}







.wk{ width: 900px;
    margin-top: -300px;
    margin-left: 50px;
}